openapi: 3.0.3
info:
  title: Documents API Cloud Function PakArbi - OpenAPI 3.0
  description: >-
    Dokumentasi API untuk Aplikasi PakArbi dari Cloud function 
  termsOfService: https://github.com/PakArbi/documents
  contact:
    email: sidiqfaisal30@gmail.com
  license:
    name: Package 
    url: https://pkg.go.dev/github.com/PakArbi/pasetobackend
  version: 1.0.11
externalDocs:
  description: Website kami
  url: https://pakarbi.github.io
servers:
  - url: https://asia-southeast2-project3-403614.cloudfunctions.net/
tags:
  - name: auth
    description: Authentikasi
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pakarbi.github.io/pasetobackend
  - name: User
    description: Pengelolaan Data User
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pakarbi.github.io/pasetobackend
  - name: Code QR
    description: Generator Code QR
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pakarbi.github.io/
paths:
  /login:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
  /Register:
    post:
      tags:
        - User
      summary: Insert User
      description: data username
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '405':
          description: Invalid input          
      security:
        - Login:
          - write:apiKey
          - read:apiKey
  /codeqr:  
    get:
      tags:
        - QR Code
      summary: A QR code generation endpoint
      parameters:
        - name: string_to_encode
          in: path
          required: true
          description: URL encoded string to convert to a QR code
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
              img/png:
                schema: 
                  type: string
                  format: binary
components:
  schemas:
    Response:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: Berhasil Input data
    Auth:
      type: object
      properties:
        username:
          type: string
          example: pakarbi
        password:
          type: string
          example: testpass
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: Selamat Datang
        token:
          type: string
          example: pakarbi
    user:
      type: object
      properties:
        username:
          type: string
          example : sankuy
        password:
          type: string
          example: kuyahh
        role:
          type: string
          example: user
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    Login:
      type: apiKey
      name: Login
      in: header

      